*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body, 
html{
    overflow:hidden;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.container {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 1500px;
    height: 1200px;   
}

.canvas {
    position:absolute;
    left:0;
    top: 0;
    transform: translate(-100px, -100px);
    width:200%;
    height: 200px;
    padding: 200px;
    transition: ease-out;
    display: flex;
}


.column{
    position: relative;
    flex: 25%;

}

img{
    width: 100%;
    padding: 1rem;
    /* filter: grayscale(); */
}



